* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.mainIcon {
	background-size: 95% 95%;
	background-image: url(../images/icons/landing.png);
	background-position: center center;
	border-radius: 50%;
	width: 4em;
	height: 4em;
	float: left;
}

.squareImg {
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
	height: 25rem;
	width: 25rem;
}

.coachImg {
	background-image: url(../images/about_us/coach.png);
	background-size: 100% 80%;
}

.traineeImg {
	background-image: url(../images/about_us/trainees.jpg);
	background-size: 100% 80%;
}

.communityImg {
	background-image: url(../images/about_us/community.jpg);
	background-size: 100% 80%;

}

.navbar-brand {
	font-size: 30px;
}

.nav-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 505px;
	left: 0;
}

.slide1, .slide2, .slide3 {
	min-height: 200px; /* Must have a height or min-height set due to use of background images */
	background-size: cover;
	background-position: center center;
}
.slide1 {
	background-image: url(../images/slide1.jpg);
	height: 400px;
}
.slide2 {
	background-image: url(../images/slide2.jpg);
	height: 400px;
}
.slide3 {
	background-image: url(../images/slide3.jpg);
	height: 400px;
}


.carousel-overlay {
	position: absolute;
	top: 200px;
	right: 0;
	left: 0;
}

.carousel-overlay {
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}

.carousel-overlay h1 {
    font-size: 3.5em;
}

.carousel-overlay .btn-signUp {
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #398439;
    border-radius: 6px;
}


.navbar-toggler {
	margin-right: 10px;
}

.nav-item:hover {
    background-color:rgba(0,255,0,0.3);
    border-radius: 5px;
}

.navbar-brand:hover {
    background-color:rgba(0,255,0,0.3);
    border-radius: 5px;
}

.dropdown-menu {
	background-color:rgba(192,192,192,0.5);
}

.first-row {
	margin-top: 5px;
}

.signUp {
	background-image: url(../images/landing.jpeg);
	height: 350px;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.signUpMsg {
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	font-size: 3em;
	position: relative;
	top: 35%;
}

.btn-signUp {
	position: relative;
	top: 150px;
	border-radius: 0;
	height: 40px;
	font-size: 1em;
}

.signUpMsg, .btn-signUp {
	margin-left: 20px;
}

.navbar-nav {
	font-weight: bold;
}


.footer {
	height: 100px;
	background-color: black;
}

.social-media, .termsCondition {
	margin-top: 10px;
}

.social-media a {
	color: lightgreen;
	margin: 0 .5rem;
	font-size: 1.5rem;
	opacity: .75;
}

.social-media p {
	color: white;
}

.getCon {
	margin-top: 7px;
}

.termsCondition p {
	color: lightgreen;
}

.termslink {
	color: lightgreen;
}

.disClaimer {
	color: grey;
	background-color: black;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75)
	width: 100%;
}

.social-media a:hover {
	opacity: 1;
}

.featurette-heading {
	position: relative;
	text-align: center;
	top: 18%;
}

.conTent {
	position: relative;
	top: 25%;
	text-align: justify;
	padding-left: 2rem;
}


@media screen and (max-width: 1200px) {
 .squareImg{
 	padding: 3rem;
 	height: 15rem;
	width: 15rem;
 }
}

@media screen and (max-width: 800px) {
 .navbar-nav {
 	background-color:black;
 }

 .footer {
 	height: 170px;
 }

 .signUpMsg {
	top: 20%;
 }

 .btn-signUp {
 	top: 100px;
 }

 .conTent, .featurette-heading {
 	top: 0;
 	padding-left: 2rem;
 	padding-right: 2rem;
 }

 .navbar-brand {
 	font-size: 20px;
 }

  .squareImg {
 	border-radius: 50%;
 	background-color: black;
 }

}