* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.mainIcon {
	background-size: 95% 95%;
	background-image: url(../images/icons/landing.png);
	background-position: center center;
	width: 4em;
	height: 4em;
	float: left;
}

.navbar-brand {
	font-size: 30px;
}

.nav-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 505px;
	left: 0;
}

.slide1, .slide2, .slide3 {
	min-height: 560px; /* Must have a height or min-height set due to use of background images */
	background-size: cover;
	background-position: center center;
}
.slide1 {
	background-image: url(../images/slide1.jpg);
	height: 400px;
}
.slide2 {
	background-image: url(../images/slide2.jpg);
	height: 400px;
}
.slide3 {
	background-image: url(../images/slide3.jpg);
	height: 400px;
}


.carousel-overlay {
	position: absolute;
	bottom: 100px;
	right: 0;
	left: 0;
}


.carousel-overlay {
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}

.carousel-overlay h1 {
    font-size: 3.5em;
}

.carousel-overlay .btn-signUp {
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #398439;
    border-radius: 6px;
}


.carousel-overlay .btn-lg {
    font-size: 1.75em;
    padding: 10px 20px;
}

.circles {
	margin-top: 20px;
    background-size: 95% 100%;
    background-position: center center;
    border-radius: 50%;
    border-width: 10px;
    border: 5px solid green;
    width: 4em;
    height: 4em;
    float: left;
}

.coachC {
	background-image: url(../images/icons/coach.png);
}

.traineesC {
	background-image: url(../images/icons/trainees.png);
}

.communityC {
	background-image: url(../images/icons/community.png);
}

.squareImg {
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 100%;
	height: 25rem;
	width: 25rem;
}

.confidentImage {
	background-image: url(../images/landing/confident.png);
}

.healthyImage {
	background-image: url(../images/landing/healthy.jpg);
}

.gunsImage {
	background-image: url(../images/landing/guns.jpg);
}

.landing-2ndp h2 {
	text-align: center;
	margin-top: 20px;
}

.content-2ndp {
	text-align: justify;
}

.learnmore {
	text-align: center;
}


.navbar-toggler {
	margin-right: 10px;
}

.nav-item:hover {
    background-color:rgba(0,255,0,0.3);
    border-radius: 5px;
}

.navbar-brand:hover {
    background-color:rgba(0,255,0,0.3);
    border-radius: 5px;
}


.emboSe {
	color: rgba(0,255,0,1);
	text-shadow: 0 1px 0 black;
	font-style: italic;
}

.navbar-nav {
	font-weight: bold;
}


.footer {
	margin-top: 50px;
	height: 150px;
	background-color: black;
}

.getCon {
	margin-top: 7px;
}

.social-media {
	margin-top: 10px;
}

.termsCondition {
	margin-top: 12px;
}

.termslink {
	color: lightgreen;
}

.social-media a {
	color: lightgreen;
	margin: 0 .5rem;
	font-size: 1.5rem;
	opacity: .75;
}

.social-media p {
	color: white;
}

.termsCondition p {
	color: lightgreen;
}

.disClaimer {
	color: grey;
	background-color: black;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75)
	width: 100%;
}

.social-media a:hover {
	opacity: 1;
}


@media screen and (max-width: 1000px) {
 .navbar-nav {
 	background-color:black;
 }

 .footer {
 	height: 170px;
 }

 .squareImg {
 	height: 20rem;
	width: 20rem;
 	padding: 2rem;
 }

 .navbar-brand {
 	font-size: 20px;
 }

 .feature-content {
 	padding: 2rem;
 	text-align: justify;
 }

 .content-2ndp {
 	padding: 2rem;
 }

}

@media screen and (max-width: 800px) {
.feature-content {
	text-align: justify;
}

 .navbar-nav {
 	background-color:black;
 }

 .footer {
 	height: 170px;
 }

 .squareImg {
 	border-radius: 50%;
 	background-color: black;
 }

 .navbar-brand {
 	font-size: 20px;
 }

 .circles {
 	margin-left: 2em;
 }

 .titleH {
 	margin-right: 1.5em;
 	font-size: 1.75em;
 }

 .content-2ndp {
 	padding-top: 20px;
 }

}
