* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.mainIcon {
	background-size: 95% 95%;
	background-image: url(../images/icons/landing.png);
	background-position: center center;
	border-radius: 50%;
	width: 4em;
	height: 4em;
	float: left;
}

.basicS {
	margin-top: 50px;
}

.rout-button {
	background-color: white;
}

.squareImg {
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 100%;
    border-radius: 10px;
    border: 1px solid black;
	height: 250px;
	width: 350px;
}

.runnerStretch {
	background-image: url(../images/routines/runners_stretch.gif);
}

.sideStretch {
	background-image: url(../images/routines/side_stretch.gif);
}

.backTwist {
	background-image: url(../images/routines/side_twist.gif);
}

.benchPress {
	background-image: url(../images/routines/bench_press.gif);
}

.deadLift {
	background-image: url(../images/routines/dead_lift.gif);
}

.barbellSquats {
	background-image: url(../images/routines/barbell_squat.gif);
}


.pushUp {
	background-image: url(../images/routines/push_ups.gif);
}

.sitUp {
	background-image: url(../images/routines/sit_up.gif);
}

.squats {
	background-image: url(../images/routines/squat.gif);
}


.modal-header {
	text-align: center;
}

.navbar-brand {
	font-size: 30px;
}

.nav-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 505px;
	left: 0;
}

.slide1, .slide2, .slide3 {
	min-height: 200px; /* Must have a height or min-height set due to use of background images */
	background-size: cover;
	background-position: center center;
}
.slide1 {
	background-image: url(../images/slide1.jpg);
	height: 400px;
}
.slide2 {
	background-image: url(../images/slide2.jpg);
	height: 400px;
}
.slide3 {
	background-image: url(../images/slide3.jpg);
	height: 400px;
}


.carousel-overlay {
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	position: absolute;
	top: 200px;
	right: 0;
	left: 0;
}

.carousel-overlay h1 {
    font-size: 3.5em;
}

.carousel-overlay .btn-signUp {
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #398439;
    border-radius: 6px;
}


.featurette-image {
    margin: auto;
    text-align: right;
    display: block;
}

.navbar-toggler {
	margin-right: 10px;
}

.nav-item:hover {
    background-color:rgba(0,255,0,0.3);
    border-radius: 5px;
}

.navbar-brand:hover {
    background-color:rgba(0,255,0,0.3);
    border-radius: 5px;
}

.dropdown-menu {
	background-color:rgba(192,192,192,0.5);
}

.first-row {
	margin-top: 5px;
}

.navbar-nav {
	font-weight: bold;
}

.signUp {
	background-image: url(../images/landing.jpeg);
	height: 350px;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.signUpMsg {
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	font-size: 3em;
	position: relative;
	top: 35%;
}

.btn-signUp {
	position: relative;
	top: 150px;
	border-radius: 0;
	height: 40px;
	font-size: 1em;
}

.signUpMsg, .btn-signUp {
	margin-left: 20px;
}

.footer {
	height: 100px;
	background-color: black;
}

.social-media, .termsCondition {
	margin-top: 10px;
}

.termslink {
	color: lightgreen;
}

.getCon{
	position: relative;
	top: 10px;
}

.social-media a {
	color: lightgreen;
	margin: 0 .5rem;
	font-size: 1.5rem;
	opacity: .75;
}

.social-media p {
	color: white;
}

.termsCondition p {
	color: lightgreen;
}

.disClaimer {
	color: grey;
	background-color: black;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75)
	width: 100%;
}

.social-media a:hover {
	opacity: 1;
}

@media screen and (max-width: 770px) {
 .navbar-nav {
 	background-color:black;
 }

 .footer {
 	height: 170px;
 }

 .signUpMsg {
	top: 20%;
 }

 .btn-signUp {
 	top: 100px;
 }

 .conTent, .featurette-heading {
 	top: 0;
 }

 .navbar-brand {
 	font-size: 20px;
 }

.carousel-overlay {
	top: 125px;
}

}

@media screen and (max-width: 1203px) {
	.squareImg {
		width: 275px;
	}
}

@media screen and (max-width: 990px) {
	.squareImg {
		width: 225px;
	}
}