* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.mainIcon {
	background-size: 95% 95%;
	background-image: url(../images/icons/landing.png);
	background-position: center center;
	border-radius: 50%;
	width: 4em;
	height: 4em;
	float: left;
}

.mainForm {
	height: 650px
}

.header-text {
	margin-top: 10%;
}

.navContainer {
	background-color: black;
	height: 80px;
}

.navbar-brand {
	font-size: 30px;
}

.form-group {
	width: 80%;
	position: relative;
	left: 10%;
	top: 10%;
}

.btn-signUp, .form-main {
	margin-top: 50px;
}

.form-check {
	margin-top: 30px;
}

.followUs {
	background-color: black;
}

.footer {
	margin-top: 50px;
	height: 100px;
	background-color: black;
}

.social-media, .termsCondition {
	margin-top: 10px;
}

.social-media a {
	color: lightgreen;
	margin: 0 .5rem;
	font-size: 1.5rem;
	opacity: .75;
}

.social-media p {
	color: white;
}

.termsCondition p {
	color: lightgreen;
}

.disClaimer {
	color: grey;
	background-color: black;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75)
	width: 100%;
}

.getCon{
	position: relative;
	top: 10px;
}

.social-media a:hover {
	opacity: 1;
}

.termslink {
	color: lightgreen;
}


@media screen and (max-width: 770px) {
 .navbar-nav {
 	background-color:black;
 }

 .footer {
 	height: 200px;
 }

 .navbar-brand {
 	font-size: 20px;
 }

 .form-group {
 	top: 0;
 }

 .header-text {
 	top: 0;
 }

.mainForm {
	height: 100vh;
}

}